{% extends "base.twig" %}

{% block title %}Préférences{% endblock %}

{% block content %}
  <h1>Préférences</h1>

  <hr>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Fréquence de notification</th>
        <th>Période de notification</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for preference in preferences %}
        <tr>
          <td>{{ preference.notification_frequency }}</td>
          <td>{{ preference.periode_notif }}</td>
          <td>
            <a href="{{ path('preference_show', {'id': preference.id}) }}" class="btn btn-primary">Voir</a>
            <a href="{{ path('preference_edit', {'id': preference.id}) }}" class="btn btn-warning">Modifier</a>
            <a href="{{ path('preference_delete', {'id': preference.id}) }}" class="btn btn-danger">Supprimer</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="{{ path('preference_create') }}" class="btn btn-success">Créer une préférence</a>

{% endblock %}
